{% extends "layout.njk" %}

{%block head%}
<title>RentBooks - Informações</title>
{%endblock%}

{%block content%}
<h1 class="title">Informações</h1>
<section class="cards">

    {%for item in items%}
    <div class="card" id="{{item.id}}">
        <img src="{{item.image}}" alt="logo do curso {{item.id}}">
        <div class="card-description">
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
        </div>
        
    </div>
    {%endfor%}

    
</section>

<script src="/script.js"></script>
{%endblock%}