{% extends "layout.njk" %}

{%block head%}
<title>RentBooks - Informações</title>
{%endblock%}

{%block content%}
<section class="cards">

    {%for item in items%}
    <div class="card" id="{{item.id}}">
        <img src="{{item.image}}" alt="logo do curso {{item.id}}">
        <div class="card-description">
            <h1>{{item.title}}</h1>
            <p>{{item.description}}</p>
        </div>
        
    </div>
    {%endfor%}

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <h1 class="exitButton">x</h1>
            </a>
            <iframe src="" frameborder="0"></iframe>
            <a class="maximizeButton">
                <img src="https://img.icons8.com/doodle/48/000000/full-screen.png"/>
            </a>
        </div>
    </div>
</section>

<script src="/script.js"></script>
{%endblock%}