{% extends "layout.njk" %}

{%block head%}
    <title>RentBooks - Contato</title>
{%endblock head%}

{%block content%}

    <div class="contact">
        <a href="mailto:joao.brosin@gmail.com" target="_blank">
            <div class="card contact-card" id="">
                <div class="card-description">
                    <h1>E-mail</h1>
                </div>
            </div>
        </a>

        <a href="tel:+5541995113914" target="_blank">
            <div class="card contact-card" id="">
                <div class="card-description">
                    <h1>Telefone</h1>

                </div>
            </div>
        </a>

        <a href="https://discordapp.com/invite/gCRAFhc)" target="_blank">
            <div class="card contact-card" id="">
                <div class="card-description">
                    <h1>Comunidade</h1>
                </div>
            </div>
        </a>
    </div>

{%endblock content%}
