{% extends "layout.njk" %}

{%block head%}
<title>RentBooks - Sua biblioteca virtual</title>
<link rel="stylesheet" href="/bg.css">
{%endblock%}


{%block content%}
<div class="text-box">
    <h1>
        {{facePage.title}}
    </h1>
    <p>
        {{facePage.description}}
    </p>
    <div class="button">
    <a href="/content">Saiba Mais</a>
    </div>
</div>
{%endblock%}
