{% extends "layout.njk" %}

{%block head%}
    <title>RentBooks - ERRO 404</title>
{%endblock head%}

{%block content%}
    <div class="text-box">
        <h1>
            ERRO 404
        </h1>
        <p>
            Houve algum erro com a requisição. Pedimos desculpas pelo problema.
        </p>
    </div>
{%endblock%}
