body {
    font-family: 'Roboto', sans-serif;
    background: url('/images/bg-rentbooks.svg') no-repeat;
    background-position: 45vw 15vh;
    background-size: 750px;
    background-color: #282a36;
}